/* Устанавливаем общий шрифт для всего контента */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Создаем контейнер для размещения всех элементов */
.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(165, 113, 165); /* Задаем цвет фона */
    padding: 10px;
}

/* Оформляем блок с приложением для списка задач */
.to-do-app{
    width: 100%;
    max-width: 600px; /* Ограничиваем максимальную ширину для лучшей читаемости */
    background: white; /* Белый фон */
    margin: 100px auto 20px; /* Центрируем по горизонтали и добавляем отступы сверху и снизу */
    padding: 40px 30px 70px; /* Отступы внутри блока */
    border-radius: 20px; /* Закругляем углы */
}

/* Оформляем верхнюю строку заголовка */
.header-row{
    display: flex; /* Устанавливаем flex-контейнер */
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
}

/* Стили для заголовка приложения */
.header-row img{
    width: 150px; /* Ширина изображения */
    height: 150px; /* Высота изображения */
}

.header-row h2{
    font-size: 50px; /* Размер шрифта */
}

/* Стили для разделительной линии */
.to-do-app hr{
    width: 100%; /* Линия занимает всю ширину контейнера */
    border: none; /* Убираем стандартную границу */
    height: 2px; /* Высота линии */
    background-color: gray; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

/* Оформляем строку ввода новой задачи */
.input-row{
    display: flex; /* Устанавливаем flex-контейнер */
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
    background: lightblue; /* Цвет фона */
    border-radius: 40px; /* Закругляем углы */
    padding-left: 20px; /* Отступ слева */
    margin-bottom: 25px; /* Отступ снизу */
}

/* Стили для текстового поля ввода */
input{
    flex: 1; /* Растягиваем элемент на всю доступную ширину */
    border: none; /* Убираем границу */
    outline: none; /* Убираем выделение элемента */
    background: transparent; /* Прозрачный фон */
    padding: 10px; /* Внутренние отступы */
}

/* Стили для кнопки "Добавить" */
button{
    border: none; /* Убираем границу */
    outline: none; /* Убираем выделение элемента */
    background: orange; /* Цвет фона */
    padding: 16px 50px; /* Внутренние отступы */
    color: white; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменяем курсор при наведении */
    border-radius: 40px; /* Закругляем углы */
}

/* Оформляем элементы списка задач */
ul li{
    list-style: none; /* Убираем маркеры списка */
    font-size: 20px; /* Размер шрифта */
    padding: 12px 8px 12px 50px; /* Внутренние отступы */
    user-select: none; /* Запрещаем выделение текста мышью */
    cursor: pointer; /* Изменяем курсор при наведении */
    position: relative; /* Устанавливаем позиционирование */
}
/* Оформляем маркер задачи */
ul li::before{
    content: ' '; /* Добавляем пустой контент */
    position: absolute; /* Абсолютное позиционирование */
    height: 28px; /* Высота маркера */
    width: 28px; /* Ширина маркера */
    border-radius: 50%; /* Закругляем углы для создания круглого маркера */
    background-image: url(/icons/unchechked.png); /* Устанавливаем изображение маркера */
    background-size: cover; /* Масштабируем изображение, чтобы оно полностью покрывало маркер */
    background-position: center; /* Центрируем изображение в маркере */
    top: 50%; /* Позиционируем маркер относительно верхней границы элемента списка */
    transform: translateY(-50%); /* Корректируем позицию маркера для выравнивания по вертикали */
    left: 8px; /* Позиционируем маркер относительно левой границы элемента списка */
}

/* Стили для выполненных задач */
ul li.checked{
    color: black; /* Цвет текста */
    text-decoration: line-through; /* Добавляем перечеркивание к выполненным задачам */
}

/* Стили для маркера выполненных задач */
ul li.checked::before{
    background-image: url(/icons/chechked.png); /* Изменяем изображение маркера для выполненных задач */
}

/* Стили для кнопки удаления задачи */
ul li span{
     position: absolute; /* Абсолютное позиционирование */
     right: 0; /* Позиционируем кнопку справа относительно элемента списка */
     top: 5px; /* Позиционируем кнопку сверху относительно элемента списка */
     width: 40px; /* Ширина кнопки */
     height: 40px; /* Высота кнопки */
     font-size: 22px; /* Размер шрифта */
     color: black; /* Цвет текста кнопки */
     line-height: 40px; /* Высота строки для центрирования текста */
     text-align: center; /* Выравниваем текст по центру кнопки */
     border-radius: 50%; /* Закругляем углы для создания круглой кнопки */
}

/* Стили для кнопки удаления задачи при наведении */
ul li span:hover{
    background: darkgray; /* Изменяем цвет фона кнопки при наведении */
}